
footer{

    text-align: center;
    
}

.container-footer {

    margin: 20px;
    border: 1px solid none;
    margin-top: 53px;
    display: inline-block;
    background-color: var(--cor-botao);
    
    color: var(--bg-color);
    width: 30px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    overflow: hidden; /* Para esconder as partes da imagem fora do círculo */
    border-radius: 50%; /* Torna a imagem um círculo definindo o raio como 50% da largura/altura */
}
.container-footer img {
    list-style-type: none;
    width: 100%; /* Garante que a imagem preencha todo o espaço do elemento pai */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove margens brancas adicionais */
}

.direitos{

    color: var(--bg-color);
    text-align: center;
}
