
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}



:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
    --cor-fundo:#d9e1e4;
    --cor-botao:#69c4ee;;
    --cor-botao1:#f1ff27;
    --cor-botao2:#0ad414;
}

.temp{

    color: #0ad414;
    
}

.container-fluid{
    max-width: 1600px;
    margin: auto;
}

header{
    background-color: var(--cor-botao2);
    color: white;
    padding-bottom: 10.8rem;   
}

.header-logo{
    /* height: fit-content; */
    /* width: 100px; */
    /* height: 84px; */
    /* margin-left: 43px; */
}
.header-logo img{
    width: 233px;
    height: 157px;
    margin-top: -40px;
    margin-bottom:-40px ;
}

.header-container{
    margin-top: 4px;
    border: 1px solid var(--text-color);
    border-left: none;
    border-right: none;
    background-color: var(--bg-color);
    float: inline-start;
    height: 50px;
    
    
}

.header-ul-menu {
    list-style: none;
    margin-top: 0;
    padding: 2px;
}

.header-icon{

    display: inline;
    padding: 9px;
}

.header-icon  img{

    width: 20px;
    margin-top: 9px;

}

.header-menu {
    display: inline;
    margin: 5px;


    
}


.header-icon{

    margin-left: 2rem;
}

.header-cad1,.header-cad2{
    
    display: inline;
    margin: 0 10px;
    float: right;    
    border: 1px solid rgb(234, 229, 238);
    padding: 5px;
    margin-top: 9px;
    
    
}

a {

    text-decoration: none;
    color: var(--text-color);
}

.header-anc1, .header-anc2{

    
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 100;                                                                                                                                                                                            ;
}

.header-cad1 {

    background-color: var(--cor-botao1);
    border-radius: 3px;
    
}
.header-cad1:hover {

    background-color: var(--cor-botao1);
    
    .header-anc1{

        color: var(--bg-color);
    }
}
.header-cad1:hover{

    background-color:#f7d205;
    
}

.header-cad2{

    background-color: var(--main-color);
    border-radius: 3px;
    transition: .5s;
    
}

.header-anc2{

    color: var(--text-color);
}


.header-cad2:hover {

    background-color: var(--text-color);

    .header-anc2{

        color: var(--bg-color);
    }
}


/*CAIXA INFORMAÇÃO DE RECURSOS*/

