.loginn{
    margin-right: 503px;
    margin-top: 117px;
    float: right;
    color: #007bff;
    max-width: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 45px;
    height: 250px;
    width: 316px;
    padding-right: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(52, 46, 46, 0.1);
    
  }


  h1{

    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  input{
    width: 100%;
    padding: 10px;
    padding-right: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .inputSubmit{
    
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    width: 328px;
  }

 .voltar{

    list-style-type: none;
 }

 .element{

    color: #007bff;
    margin-left: 104px;
 }
  .inputSubmit:hover{
      background-color: blueviolet;
      cursor: pointer;
  }