:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
    --cor-fundo:#d9e1e4;
    --cor-botao:  #60c05d;
    --cor-botao1:#f1ff27;
    --cor-botao2:#0ad414;
}
.container_plan {          /*AJUSTA A ALTURA DAS CAIXAS COM RELAÇAO A HEADER*/
    margin-top: 70px;
    
}
.box-plan {         /*AJUSTA CAIXA PARA FICAREM UMA DO LADO DA OUTRA*/
    
margin-top: 100px;
    
margin: auto;
    
display: flex;
    
justify-content:space-evenly;
    
align-items:center;
}

.box-plan div{             /*AJUSTA O TAMANHO DAS CAIXAS*/
    width: 390px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 10px;
    
}

.inf {                  /*AJUSTA A ALTURA E COR DA CAIXA*/

    
    background-color: var(--bg-color);
    height: 450px;
    
}

.box-plan div p{     /*AJUSTA O TAMANHO DO CONEUDO INTERNO DA CAIXA*/

    padding-top: 15px;
}

.box-plan div input{     /*AJUSTA O TAMANHO DO CONEUDO INTERNO DA CAIXA*/
    
    padding-top: 15px;
}


.img {              /*AJUSTA A ALTURA DA IMAGEM DA CAIXA*/
    text-align: center;
    margin-top: -50px;
    
    
}

.img img {
    border-radius: 50%;
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-left: 115px;
    padding: 10px;
    background-color: var(--bg-color);
    border: 5px solid #999494; /* Adicione uma borda azul, opcional */
    overflow: hidden; /* Esconda as partes externas do círculo */
    
}


.box-plan .nome{            /* CONSTROI A BORDA E COR DE FUNDO EN VOLTA DE NOME/EMAIL/SENHA...  DO USUARIO */
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    margin-right: 80px;
    color: var(--black);
    color: blue;
    text-indent: 10px;
    padding-bottom: 6px;
}

.box-plan .basico{          /*MESMO PROCESSO ANTEIOR*/

    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    margin-right: 228px;
    color: var(--bg-color);
    text-align: center;
    padding-bottom: 6px;
    
}


.editar img {

    width: 20px;
}

.editar img {
   width: 30px;
   margin-top: 9px;
   margin-left: 320px;
   position: absolute;
   cursor: pointer;
}

.plano img {
   width: 40px;
   margin-top: 3px;
   margin-left: 220px;
   position: absolute;
   cursor: pointer;
}

.container-inf-plan{

    margin: auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center ;
    margin-top: 60px;
}

.checkbox-label {
    display: inline-block;
    vertical-align: middle;

}

.checkbox {
    transform: scale(1.5); /* Ajuste o valor conforme necessário para aumentar ou diminuir o tamanho */
}
label{

    margin: 5px;
}
