
.info-aviator{
    background-color: var(--bg-color);
    margin-left: 50px;
    margin-right:50px;
    padding-bottom: 80px;
    border-radius: 20px;
    
}
.info-aviator > h1{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
    margin: 0px;
    text-align: left;
}

.content{
    display: inline-block;
}

.content-text{
    display: inline-block;
    margin-left: 50px;
    padding-left: 20px;
    width: 275px;
    height: 250px;
}
.content-text > img{
    width: 100px;
    float: left;
}
.content-text > p{
    font-size: small;
    float: inline-end;
    text-align:justify;
}

.content-image{
    background-color: rgb(39, 78, 78);
    display: inline-block;
    margin-right: 40px;
    height: 250px;
    width: 450px;
    float: right;
}
.content-image > img{
    width: 450px ;
}






.new-table{
    background-color:var(--bg-color);
    color:var(--text-color);   
    padding: 10px;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;

}
.new-table:hover{
    background-color: var(--bg-color);
    border-color: var(--bg-color);
    color: var(--main-color);
}

.aviator-statistics{
    padding: 50px;
    /* text-align: center; */
    border: 2px solid black;
}

.table-content{        
    margin-left:  70px;
    margin-right: 70px; 
    border:2px solid var(--bg-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    padding: 10px;;
    display: inline-block;  
    text-align: center;
}

.box_filtro{
    width: 154px;
    height: 29px;
    border: solid 2px black;  
    text-align: center  ;
}

.input_filters{
    text-align: center;
    width: 150px;
    height: 25px;
    border: 2px solid black;
    margin-bottom: 2px;
}

.main-combobox-date{
    height: 25px;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    border: solid 2px black;  
}   

table{
    

    border-collapse: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    
    
}

thead{
    background-color: var(--main-color);
}
.candle-tbody{
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}


th, td{
    font-weight: bolder;
    width: 200px;
    height: 27px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

.candle-tbody > tr > td{
    color: rgb(0, 0, 0);
    
}

.tablePagination{
    margin: auto;
    padding: 0px;
    padding-top: 5px;
    width: fit-content;
}
.tableButton{
    display: inline-block;
    margin: -3px;
    padding: 8px 12px;
    background-color: var(--main-color);
    color:rgb(255, 255, 255);
    border: solid 2px var(--main-color);
}


.candle-blue,.candle-purple,.candle-pink{
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    background-color: rgba(4, 11, 31, 0.863);
    border: 1px solid var(--bg-color);
    text-align: center;
    margin: auto;
    
}
.candle-blue{
    color: rgb(19, 101, 255);
}
.candle-purple{
    color: rgb(174, 0, 255);
}
.candle-pink{
    color: rgb(255, 32, 144);
}


.content-graphic{
    display: inline-block;
}

.piechart{
    display: block; width: 200px;
     height: 250px;
}

.content-candles-rare{
    /* background-color: rgb(42, 136, 136); */
    display: inline-block;
    margin-left: 30px;
}
.teste{
    /* align-items: center; */
}

.candles-rare{
    background-color: var(--bg-color);
    width: 150px; 
    height: 80px;
    margin: 50px 25px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}

.candles-rare > span{
    position: absolute;
    width: 150px; 
    height: 80px;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    font-size:xx-large;
    color: rgb(255, 32, 144);
}