
 .info-aviator{
    background-color: var(--second);
    margin: 0px 10px;
    padding-bottom: 80px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
    
}
.info-aviator > h1{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
    margin: 0px;
    text-align: left;
    color: var(--white);
}

.content{
    display: inline-block;
}

.content-text{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 275px;
    /* height: 250px; */
    color: var(--white);
}
    
.content-text > div{
    display:inline;
}
.content-text > div > img{
    width: 100px;
    height: 100px;
    float: left;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}
.content-text > p{
    font-size: small;
    float: inline-end;
    text-align:justify;
}

.content-image{
    background-color: rgb(39, 78, 78);
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
}
.content-image > img{
    width: 400px ;    
    margin-bottom: -150px;
}




.data-controls{
    margin-top: 50px;
    background-color: var(--second);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 10px;
}

.new-table{
    background-color:var(--third);
    color:var(--white);   
    padding: 10px;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    cursor: pointer;
}
.new-table:hover{
    background-color: var(--fourth);
    border-color: var(--third);
    color: var(--white);
   
}



.aviator-statistics{
    text-align: center;

}

.content-block{
    background-color: var(--second) ;
    margin: 30px 10px;
    border-radius: 20px;

}

.content-house{
    /* border: 1px solid black; */
    display: inline-block;
    margin-right: 5px;
    padding-top: 5px;
}

.content-table{
    margin-left: 5px;        
    border:2px solid var(--bg-color);
    border-radius: 5px;
    background-color: var(--third);
    padding: 10px;;
    display: inline-block;  
    text-align: center;
    width: fit-content;
    
}

.house-logo{
    width: 100px;
    height: 33px;
}

.filters-houses-medium{
    width: 154px;
    height: 29px;
    border: solid 2px black;  
    text-align: center  ;
}

.filters-houses-small{
    width: 100px;
    height: 22px;
    border: solid 2px black;  
    text-align: center  ;
}

.input-filters-medium{
    text-align: center;
    width: 150px;
    height: 25px;
    border: 2px solid black;
    margin-bottom: 2px;
}

.input-filters-small{
    text-align: center;
    width: 93px;
    height: 18px;
    border: 2px solid black;
    margin-bottom: 2px;
}



.table-dimension-medium{
    border-collapse: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    display: inline-table;
    width: 400px;
    height: 400px;
}

.table-dimension-small{
    border-collapse: 2px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    display: inline-table;
    width: 240px;
    height: 350px;
}

thead{
    background-color: var(--main-color);
}

.candle-tbody{
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    
}


th, td{
    font-weight: bolder;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}


.candle-tbody > tr > td{
    color: rgb(0, 0, 0);
    
}

.tablePagination{
    margin: auto;
    padding: 0px;
    padding-top: 5px;
    width: fit-content;
}
.table-button-medium{
    display: inline-block;
    margin: -3px;
    padding: 8px 12px;
    background-color: var(--fourth);
    color:rgb(255, 255, 255);
    /* border: solid 2px var(--main-color); */
    max-width: 50px;
    min-width: 45px;
}

.table-button-small{
    display: inline-block;
    margin: -3px;
    background-color: var(--fourth);
    color:rgb(255, 255, 255);
    /* border: solid 2px var(--main-color); */
    max-width: 32px;
    font-size: 12px;
}

.candle-blue,.candle-purple,.candle-pink{
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    background-color: rgba(4, 11, 31, 0.863);
    border: 1px solid var(--bg-color);
    text-align: center;
    margin: auto;
    
}
.candle-blue{
    color: rgb(19, 101, 255);
}
.candle-purple{
    color: rgb(174, 0, 255);
}
.candle-pink{
    color: rgb(255, 32, 144);
}


.content-graphic{
    display: inline-block;
    min-height: 450px;
}

.piechart{
    display: block;
}

.content-candles-rare{
    display: inline-block;
}

.candles-rare-medium{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 150px; 
    margin: 10px 25px;      
    border-radius: 10px;
    text-align: center;
}

.candles-rare-small{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 80px; 
    margin: 10px 0px;      
    border-radius: 10px;
    text-align: center;
}

.candle-range-medium{
    background-color: var(--fifth);
    color: white;
    border: 1px 0px solid black;
    height: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size:x-large;
    margin: 10px auto;
}
.candle-range-small{
    background-color: var(--fifth);
    color: white;
    border: 1px 0px solid black;
    height: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size:x-large;
    margin: 10px auto;
}
.last-candle{
    background-color: var(--bg-color);
    color: rgb(255, 32, 144);
    width: 70px; 
    height: 25px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size:small;
    margin: 5px auto;
    border-radius: 100px;
}




@media screen and (max-width:730px){
    .content-block{
        background-color: transparent;
    }
    .content-house{
        background-color: var(--second);
        margin: 20px 0px;
        padding: 20px 0px;
        border-radius: 20px;
    }
    .table-dimension-medium{
        width: 330px;
        height: 400px;
    }

    .filters-houses-medium{
        width: 159px;
        height: 29px;   
    }

    
    .input-filters-medium{
        text-align: center;
        width: 151px;
        height: 25px;
        border: 2px solid black;
        margin-bottom: 2px;
    }
    
   
    .table-button-medium{
        max-width: 40px;
        min-width: 35px;
        font-size: 16px;
        padding: 5px;
    }
    
    
    .candles-rare-medium {
        margin: 10px 10px;
    }
   

}


 