
header{
    background-color: var(--primary);
    color: white;
    padding-bottom: 10.8rem;   
}


/* Dropdown da caixa do usuario qunado logado */
.container-dropdown {
    list-style-type: none;
    cursor: pointer;
}

.acount img{

    width: 20px;
    text-align: center;
    margin-top: 15px;
    
}

.acount1 img{

    width: 7px;
}

.acount , .dropdown-menu{
    margin-top: -3px;
}

.dropdown {
    align-items: center;
    margin-right: 50px;
    position: relative;
} 
.dropdown-menu{

    text-align: center;
    
    
}

.dropdown-menu {
    text-decoration: none;
    text-align: center;
    color: #f7f3f3;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 48px;
    height: 19px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
}



/* Estilos para o menu suspenso */
.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: var(--cor-fundo);
    min-width: 20px;
    width: 144px;
    height: 99px;
    border-radius: 4px;
    list-style-type: none;
    padding-left: 4px;
    left: -30px;
}

.dropdown:hover {
    display: block;
}

.dropdown-content li {
    padding-top: 20px;
    height: fit-content;
    width: fit-content;
} 

.dropdown-interno {
    color: black;
    padding: 5px 5px;
   
}

.dropdown-interno , .dropdown-interno img{
    width: 15px;
}

/*TESTE Nova nav bar*/

.nav-bar{
}

.menu-logo{
    width: 230px;
    margin-top: -40px;
    margin-bottom:-40px ;
}
.menu-button{
    display: none;
}

.nav-list{
    background-color: var(--second);
    display: flex;
    align-items: center;
}

.nav-list> ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    color: white;
    width: 48px;
    height: 18px;
}

.nav-link img{
    width: 20px;
}

.nav-session{
    margin-left: auto;
    text-align: right;
}


.button-login, .button-register{
    width: 100px;
    height: 30px;
    padding: 1px;
    border: 1px solid var(--white);
    border-radius: 3px;
    transition: .5s;
    font-size: medium;
    margin: 5px;
}
.button-login{
    background-color: var(--third);
}
.button-login:hover{
    background-color: var(--fourth);
}

.button-register{
    background-color: var(--emphasis);
    color: black;
}
.button-register:hover{
    background-color: var(--emphasis-hover);
}



.mobile-menu{
    display: none;
}

.dropdown-content-mobile{
    display: none;
}        


@media screen and (max-width:730px) {

    .nav-list{
       display: none;
    }
   
    .header-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    .menu-logo{
        width: 230px;
        margin-top: -40px;
        margin-bottom:-40px ;
    }
    .menu-button{
        display: block;
        width: 40px;
        padding: 10px;
    }
    .mobile-menu .nav-session{
        display: block;
    }

    .mobile-menu .container-dropdown{
        margin: 0px;
    }

    .mobile-menu .dropdown-content-mobile{
        display: none;
        background-color: var(--cor-fundo);
        list-style-type: none;
        padding-left: 4px;
    }

    .mobile-menu .dropdown-content-mobile li{
        text-align:center;
        padding: 10px;
    }
    
    .mobile-nav-list{
        width: fit-content;
        display: block;
        margin: auto;

    }
    .mobile-nav-list ul{
        display: block;
        padding-bottom: 5px;
        padding: 10px;
        margin: 0px;
    }
    
    .mobile-menu .nav-session{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    

    .mobile-menu ul .nav-item{
        display: block;
        padding: 10px;
    }

    .open{
        display: block;
        background-color: var(--second);
    }
}

