




header{
    background-color: var(--primary);
    color: white;
    padding-bottom: 10.8rem;   
}

.header-logo img{
    width: 233px;
    height: 157px;
    margin-top: -40px;
    margin-bottom:-40px ;
}

.header-container{
    margin-top: 4px;
    border: 1px solid var(--text-color);
    border-left: none;
    border-right: none;
    background-color: var(--second);
    height: 50px;      
    border: 1px solid white; 
    /* border: 1px solid black;  */
}

.header-ul-menu {
    list-style: none;
    margin-top: 0;
    padding: 2px;
}

.header-icon{

    display: inline;
    padding: 9px;
}

.header-icon  img{

    width: 20px;
    margin-top: 9px;

}

.header-menu {
    display: inline;
    margin: 5px;
}



.header-icon{

    margin-left: 2rem;
}

.header-cad1,.header-cad2{
    
    display: inline;
    margin: 0 10px;
    float: right;    
    border: 1px solid rgb(234, 229, 238);
    padding: 5px;
    margin-top: 9px;
    
    
}



.header-anc1, .header-anc2{
    text-decoration: none;
    font-weight: 100;     
    color: black                                                                                                                                                                                       ;
}

.header-cad1 {
    background-color: var(--emphasis);
    color: black;
    border-radius: 3px;
    
}

.header-cad1:hover{
    background-color:var(--emphasis-hover)
    
}

.header-cad2{

    background-color: var(--third);
    border-radius: 3px;
    transition: .5s;
    
}

.header-anc2{
    color: var(--text-color);
}


.header-cad2:hover {

    background-color: var(--fifth);
    color: white;
}


.container-dropdown {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: -27 px;
    cursor: pointer;
}

.acount img{

    width: 20px;
    text-align: center;
    margin-top: 15px;
    
}

.acount1 img{

    width: 7px;
}

.acount , .dropdown-menu{
    margin-top: -3px;
}

.dropdown {
    align-items: center;
    margin-right: 50px;
    position: relative;
} 
.dropdown-menu{

    text-align: center;
    
    
}

.dropdown-menu {
    text-decoration: none;
    text-align: center;
    color: #f7f3f3;
    /* display: inline-block; */
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 48px;
    height: 19px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
}



/* Estilos para o menu suspenso */
.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: var(--cor-fundo);
    min-width: 20px;
    width: 144px;
    height: 99px;
    border-radius: 4px;
    list-style-type: none;
    padding-left: 4px;
    left: -30px;
}

.dropdown:hover {
    display: block;
}

.dropdown-content li {
    padding-top: 20px;
    height: fit-content;
    width: fit-content;
} 

.dropdown-interno {
    color: #090909;
    padding: 5px 5px;
   
}

.dropdown-interno , .dropdown-interno img{
    width: 15px;
}

/*CAIXA INFORMAÇÃO DE RECURSOS*/

