.main-h1{
    margin-left: 6rem;
    color: var(--white);
}



.box-main-jogo{

    background-color: var(--second);
    border: 1px solid var(--white);
    box-shadow: 0px 0px 10px rgba(146, 145, 145, 0.5);
    border-radius: 5px;
    padding: 0px;
    width: 280px;
    margin-left: 50px ;
    
}

.main-aviator-jogo img{

    margin-top: 3px;
    margin-left: 4px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 0px;
    width: 272px;
    height: 189px;
}

.main-aviator-jogo p{

    color: var(--white);
    line-height: 20px;
    font-size: 15px;
    margin-left: 15px;
}

.main-button {
    background-color: var(--third);
    box-shadow: 0px 0px 10px rgba(146, 145, 145, 0.5);
    border-radius: 0px 0px 5px 5px;
    padding: 0;
    margin-top: 15px;
    height: 60px;
    width: 280px;
    text-align: center;
}


.box-button{
    box-shadow: 0px 0px 10px rgba(105, 109, 105, 0.5);
    display: inline-block;
    margin-top: 9px;
    padding: 10px 25px;
    background-color: var(--emphasis);
    border-radius: 3px;
}

.box-button:hover{
    background-color: var(--emphasis-hover);
}


.box-button img {
    width: 15px;    
}

.container-resoucer{
    text-align: center;
    margin: auto;
    margin-top: 200px;
}

.box-resource{
    border-radius: 5px;
    display: inline-block;
    width: 400px;  
    min-height: 320px;
    text-align: center; 
    margin: 20px;
    position: relative;
    border:  2px solid var(--fifth);
    padding-top: 10px;
    padding-bottom: 10px;

}

.box-resource:nth-child(1){   
    background: linear-gradient(45deg, var(--second), var(--primary));
}
.box-resource:nth-child(2) {    
    /* background: linear-gradient(45deg, #ffa600, #f8c419); */
    background: linear-gradient(45deg, var(--second), var(--primary));

}

.box-resource:nth-child(3) {    
    /* background: linear-gradient(45deg, #23a795, #20aacc); */
    background: linear-gradient(45deg, var(--second), var(--primary))
}

.box-resource:nth-child(4) {
    background: linear-gradient(45deg, #33c50f, #05920c);
}

.box-resource img{
    width: 35px;
    margin-top: 10px;
    margin-left: 5px;    
    margin-right: 5px;    
    margin-bottom: -10px;    
}

.h3{
    display: inline-block;
    border-left-width: 0px;
    font-size: 20px;
    width: 300px;
    margin-top: 0px;
    padding-bottom: -30px;
    color: var(--white)
}

.box-resource p{
    padding: 20px;
    text-align:left;
    color: var(--white);
    position: absolute;
}

@media screen and (max-width: 730px){
    .main-h1{
        margin-left: 0px;
        text-align: center;
    }
    .box-main-jogo{
        margin: auto;
    }

    .box-resource{
        margin: 10px;
        width: 360px
    }
}
