:root{
    --primary: #1FAD26;
    --second: #2F6E32;
    --third: #233323;
    --fourth: #AD1F5A;
    --fifth: #b34d79;
    --cor-fundo:#d9e1e4;
    --black: black;
    --white: white;
    --bg-color:#233323;
    --emphasis: #f7d205;
}

.message{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 98%;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
    border: 1px solid var(--white);
    border-radius: 5px;
    text-align: center;
    background-color: var(--fifth);
    color: var(--white);
    animation: error 1s both;
}

@keyframes error{
    0%{
        trasnforme:translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -400%);
        opacity: 1;
    }
}