:root{
    --primary: #1FAD26;
    --second: #2F6E32;
    --third: #233323;
    --fourth: #AD1F5A;
    --fifth: #b34d79;
    --cor-fundo:#d9e1e4;
    --black: black;
    --white: white;
    --bg-color:#233323;
    --emphasis: #f7d205;

}