:root{
    --primary: #1FAD26;
    --second: #2F6E32;
    --third: #233323;
    --fourth: #AD1F5A;
    --fifth: #b34d79;
    --cor-fundo:#d9e1e4;
    --emphasis: #f78e05;
    --emphasis-hover: #f7bd00;;
    --black: black;
    --white: white;
    --bg-color:#081b29;
}



.message{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 98%;
    transform: translate(-50%, -50%);
    padding: 10px 0px;
    border: 1px solid var(--white);
    border-radius: 5px;
    text-align: center;
    background-color: var(--fifth);
    color: var(--white);
    animation: msg 1s both;
}

@keyframes msg{
    0%{
        trasnforme:translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -400%);
        opacity: 1;
    }
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--cor-fundo);
}


main{
    margin-top: -141px;
}


.container-fluid{
    max-width: 1600px;
    margin: auto;
}

.text-a{
    color: white;
    text-decoration: none;
}